:root {
    /* Palette: https://icolorpalette.com/p/557008 */
    --color-primary: #6F13BF;
    --color-secondary: #410179;
    --color-secondary-light: #833FBF;
    --bg: #270B3C;
    --light-font-color: #F5F3FF; /* Soft white */
    --muted-light-font-color: #AD77DC;

    --default-border-radius: 8px;
    --default-margin-value: 16px;
    --default-button-gap-horiz: 6px;
    --max-width: 1080px;

    --small-font-size: 0.75rem;

    --hover-shadow:
        0 0 4px var(--color-secondary-light),
        0 0 10px var(--color-secondary),
        0 0 20px var(--color-secondary);
    --drop-shadow: 1px 1px 8px var(--color-secondary);
}

* {
    font-family: "Raleway", Arial, sans-serif;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--light-font-color);
    font-size: 16px;
    line-height: 1.5;
}

main {
    max-width: var(--max-width);
    margin: 0 auto;
    
    /* Full Width (100%) - (Margin_L and Margin_R) */
    width: min(100% - (2 * var(--default-margin-value)), var(--max-width));
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: var(--default-margin-value)
}

h1 {
    font-size: 3.5rem;
}

header, section, footer, p {
    margin-bottom: var(--default-margin-value)
}

a { 
    color: var(--muted-light-font-color); 
    text-decoration: none;
    transition: text-shadow 0.3s ease;

    &:hover {
        text-shadow: var(--hover-shadow);
    }
}

button {
    height: 2.25rem;
    padding: 0 15px;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--color-secondary-light);
    background: none;
    cursor: pointer;
    color: var(--light-font-color);
    transition: background 0.3s;
    font-size: inherit;
    font-weight: regular;
    transition: box-shadow 0.2s;

    &.emphasis {
        background: var(--color-primary);
        border-color: rgb(0, 0, 0, 0); /* Hack to maintain button size */
        font-weight: bold;
        cursor: pointer;
    }

    &:hover, &:focus {
        box-shadow: var(--hover-shadow)
    }

    &:focus {
        outline: none;
    }
}

fieldset {
    border: 0px transparent;
    margin: 0;
    padding: 0;
}

input, select {
    padding: 0.15rem 0.35rem;
    border: 0px transparent;
    border-radius: var(--default-border-radius);
    background: var(--color-secondary-light);
    color: var(--light-font-color);
    transition: border 0.2s, box-shadow 0.2s;
    font-size: 1rem;

    /* fieldset:disabled & = fieldset:disabled input, fieldset:disabled select */
    &:disabled, fieldset:disabled & {
        background: var(--color-secondary);
        color: var(--light-font-color);
        cursor: not-allowed;
    }

    &:focus {
        box-shadow: var(--hover-shadow);
        border: var(--muted-light-font-color);
        outline: none;
    }
}

label {
    font-weight: bold;
}


img.cover-pic {
    aspect-ratio: 2 / 3; /* Based from Anilist */
    width: max(100%, 128px);
    box-shadow: var(--drop-shadow);
}

img.banner {
    aspect-ratio: 19 / 4; /* Based from Anilist */
    width: 100%;
}

.logo-text {
    font-family: 'Space Grotesk', 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    transform: scaleY(1.1);
}

.icon-span-container {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0; /* For buttons */
}

.card-grid-container {
    display: grid;
    /* 
    One-line trick for responsive grid (no massive media queries):
    - min = min(100%, 128px) means the minimum recommended width is 128px but shrinks if the actual width is even lower
    - minmax(min, 1fr) means always use min; if there are more available space, stretch to 1fr
    - auto-fill means fill the row with as many columns as possible since we don't know the no. of cols. beforehand
    */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 128px), 1fr));
    gap: var(--default-margin-value);
}

.card {
    background: var(--color-secondary);
    border-radius: var(--default-border-radius);
    padding: 16px 24px;
}

.right-align-buttons {
    display: flex;
    justify-content: end;
    gap: var(--default-button-gap-horiz)
}